h1 {
    color: red;
}

/* div id = # */
#identifiant1{
    color: green;
}

/* class = . */
.class1{
    color: green;
}

label{
    color: orange;
}

#caro{
    color: black;
}

select{
    color:blue;
}

#lang{
    color:red;
}

#block1 label{
    color: pink;
}

#block1 p{
    color: pink;
}